.input-field {

    width:60%;
    left:20%;
    box-sizing:border-box;
}

#mainTitle {
    text-align: center;
    color:white;
    padding-top: 10%;
    padding-bottom: 20%;
}

#materialButton {

    width:30%;
    left:35%;
    margin-top: 5%;
}

#first_button {

    left:10%;
    top:90%;

}

#createAcctText {

    text-align: center;
    color: rgb(185, 185, 185);
    font-size: 10px
}

#mainLoadingSpinner {

    left:45%;
    visibility: hidden;
}

#messageSyncDiv {

    display: none;
}

#navBar {

    background-color: white;
}

#navBarLogo {

    color: black;
}

#syncProgressBar {

    text-align: center;
    /* visibility: hidden; */
    display: none;
    padding-top: 30%;
}

#syncStatus {

    text-align: center;
    /* padding-top: 10%; */
    padding-top: 30%;
}

#syncButton {

    width:30%;
    /* left:35%; */
    /* display: flex; 
    justify-content: center; */
    margin-top: 60%;

}

#syncButtonWrapper {

    text-align: center;
}

#setupImage {

    width: 85%;
    border-radius: 15px;
}

#setupImageWrapper {

    text-align: center;
}

#setupText {

    color: black;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}

#skipWrapper {

    /* padding-left: 30%; */
    float: left;
    width: 30%;
    padding-left: 10%;
    /* display: inline-block */
    /* padding:  */
    display: flex;
}

#checkBoxWrapper {

    /* display: block;
    /* padding-top: 10%;
    padding-right: 30%; */ 

    clear:left;
    float:left;
    padding-top: 6%;
    padding-left: 2%;
}

#setupArrow {

    font-size: 3rem;
    /* padding-left: 40%; */
    /* text-align: right; */
    /* float: right; */
}

#skipButton {

    /* padding-right: 30%;  */
    /* margin-left: 30%; */
    /* float: left; */

}

#setupArrowWrapper {

    /* float: right; */
    padding-left: 290%;
}

#skipButtonWrapper {

    /* padding-left: 30%; */
    /* float: left; */
}

#sendSetupButtonWrapper {

    visibility: hidden;
}

#setupDiv {

    display: none;
}

#acceptTOSCheckBoxWrapper {

    /* display: block;
    /* padding-top: 10%;
    padding-right: 30%; */ 

    /* clear:left;
    float:left;
    padding-top: 6%;
    padding-left: 2%; */

    padding-top: 3%;
    padding-left: 3%;
 
}

#acceptTOSButtonWrapper {

    /* padding-left: 30%; */
    /* float: right;
    width: 30%;
    padding-left: 10%; */
    /* display: inline-block */
    /* padding:  */
    /* display: flex;

    padding-left: 100%; */

    text-align: right;
    padding-right: 3%;
    padding-bottom: 3%;
    opacity: 0.5;


}

#acceptWrapper {

    /* clear: left;
    display: flex;
    float: left; */
}

#TOSdiv {

    padding-left: 3%;
    padding-right: 3%;
    display: none;

}

#loggoutText {

    text-align: center;
    border: 0px;
    border-bottom: 1px;
    border-style: solid;
    padding-bottom: 2px;
}

#navBarSettings {

    background-color: white;
}

#settingsDiv {

    display: none;
}

#resetPasswordWrapper {

    text-align: center;
    color: rgb(185, 185, 185);
    font-size: 10px
}

#backToSetupText {

    text-align: center;
    border: 0px;
    border-bottom: 1px;
    border-style: solid;
    padding-bottom: 2px;

}

#syncErrorStatus {

    text-align: center;
    display: none;
}

.loader2 {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    margin: auto;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

